## appsettings (sensitive data)
**/appsettings.json
**/appsettings.*.json

## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo

## Rider
.idea/

## NuGet
*.nupkg
packages/

## Logs
*.log

## Docker
.dockerignore

## OS
.DS_Store
Thumbs.db
docker-compose.yml

docker-compose.override.yml

docker-compose.dcproj
